<!DOCTYPE html>
<html>
  <head>
    <!--<link href="favicon.ico" rel="icon" type="image/x-icon" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/general.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
        <h1 class="center">Github Collaborators Register</h1>
        <form id="collaborator-form">
          <div class="row center">
            <input class="offset-by-four four columns" placeholder="Username" id="username" type="text">
          </div>
          <input class="offset-by-five two columns button-primary" value="Submit" type="submit">
        </form>
    </div>
  </body>
</html>